# The default owner for everything in the repo

- @nyakagwafred

# Assign frontend files to the frontend team

frontend/\*\* @komolafetemitope14

# Assign backend files to the backend team

backend/\*\* @komolafetemitope14

# Assign README.md to a specific user

README.md @nyakagwafred @komolafetemitope14

server.js @komolafetemitope14
